.header {
  font-size: medium;
  color: white;
  background-color: blue;
  text-align: center;
  padding: 20px;
  margin: 50px;
}
.intro {
  text-align: center;
  background-color: lightgreen;
  color: black;
  font-size: 35px;
  padding: 20px;
  margin: 50px;
}
.content {
  text-align: center;
  background-color: yellow;
  font-size: 25px;
  padding: 20px;
  margin: 50px;
}
.conclusion {
  text-align: center;
  background-color: red;
  padding: 20px;
  margin: 50px;
  font-size: 25px;
}
.footer {
  text-align: center;
  color: white;
  background-color: darkgrey;
  padding: 20px;
  margin: 50px;
  font-size: 25px;
}
