.header {
  font-size: medium;
  color: white;
  background-color: darkblue;
  text-align: center;
  padding: 20px;
  margin: 50px;
}
.Drink1 {
  background-color: chocolate;
  color: white;
  border: 2px solid rgb(118, 98, 87);
  text-align: center;
  padding: 20px;
  margin: 50px;
}
.Drink2 {
  background-color: lightgreen;
  color: black;
  border: 2px solid rgb(21, 37, 22);
  padding: 20px;
  margin: 50px;
  text-align: center;
}
.Drink3 {
  background-color: orange;
  color: white;
  border: 2px solid rgb(135, 91, 10);
  padding: 20px;
  margin: 50px;
  text-align: center;
}
