.pixel {
    width: 200px;
    height: 100px;
    background-color: blue;
    color: white;
    padding: 1px;
}   
.persen {
    width: 50%;
    height: 30%;
    background-color: lightblue;
    padding: 1%;
}
.em-rem {
    width: 20em;
    height: 15rem;
    background-color: yellowgreen;
    padding: 1rem;
}

.em-rem p {
    font-size: 1.2em;
}

.em-rem span {
    font-size: 1.5rem;
}
.viewport {
    width: 100vw;
    height: 10vh;
    background-color: #f0f0f0;
    text-align: center;
    padding: 1vw;
}